/***********GENERAL STYLES***********/
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --DarkGray: hsl(0, 0%, 55%);
  --VeryDarkGray: hsl(0, 0%, 41%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Alata", sans-serif;
  font-size: 15px;
}

h1,
h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
}
h1 {
  font-size: 55px;
}
h2 {
  font-size: 40px;
  /* font-weight */
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* .hero::after {
  content: "";
  background-color: var(--Black);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
} */
/* HEADER */
header {
  display: flex;
  width: 80%;
  margin: 0 10%;
  align-items: center;
  height: 10vh;
  position: absolute;
  z-index: 1;
}

.logo-container {
  flex: 1;
}
nav {
  flex: 1;
}
.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-items {
  display: inline-block;
  color: var(--White);
  font-weight: bold;
  font-size: 15px;
}

/* .nav-items:hover {
  text-decoration: underline;
  cursor: pointer; */
/* Make the line thick and a padding */
/* } */

/* .underline {
  width: 0px;
  height: 2px;
  background-color: var(--White);
  margin: 0 auto;
  margin-top: 4px;
  transition: 0.2s ease-in-out all;
} */

.nav-items:hover {
  /* font-size: 20px; */
  text-decoration: underline;
}
.burger {
  cursor: pointer;
  display: none;
}
.burger div {
  background-color: var(--White);
  height: 3px;
  margin: 5px;
  width: 30px;
}
/* HERO SECTION */
.hero {
  background-image: url("images/desktop/image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text {
  border: 3px solid var(--White);
  width: 40%;
  height: 40%;
  margin: 0 10%;
  z-index: 0;
}
.hero-text h1 {
  padding: 40px;
  color: var(--White);
}

/* INTERACTIVE SECTION */

.inter-wrap {
  display: flex;
  width: 80%;
  margin: 5% 10%;
  align-items: center;
}
.cover {
  height: 65vh;
}
.cover img {
  height: 100%;
}
.interactive-text {
  background-color: var(--White);
  padding: 70px;
  margin: 230px 0 0px -150px;
}
.interactive-text h2 {
  margin-bottom: 20px;
}

.interactive-text p {
  color: var(--DarkGray);
  font-weight: bold;
  line-height: 1.5;
}

/* CREATIVE SECTION */
.creative {
  /* background-color: aqua; */
  width: 80%;
  margin: auto;
  /* background-color: brown; */
}

.creative-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.creative-title button {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  border: 2px solid var(--DarkGray);
  background-color: transparent;
  font-size: 14px;
  text-transform: uppercase;
  height: 40px;
  width: 150px;
  letter-spacing: 2px;
  cursor: pointer;
}

.creative-title:hover button {
  background-color: var(--Black);
  color: var(--White);
  border: none;
}
.creative-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* background-color: brown; */
  padding: 0;
}

.card {
  position: relative;
  display: flex;
  /* justify-content: center; */
  /* align-items: flex-end; */
  width: 250px;
  height: 400px;
  margin: 35px 0;
  padding: 0;
  /* margin-left: ; */
}

.card:hover img {
  /* background: var(--White); */
  opacity: 0.4;
  cursor: pointer;
}
.card:hover span {
  color: var(--Black);
  /* z-index: 10; */
}
.card img {
  height: 100%;
  width: 100%;
}
.card span {
  position: absolute;
  color: var(--White);
  bottom: 20px;
  left: 30px;
  text-transform: uppercase;
  font-size: 25px;
  text-align: left;
  padding: 5px;
  z-index: 1;
}
.mobile-image {
  display: none;
}
/* FOOTER */
footer {
  margin-top: 50px;
  background-color: var(--Black);
  padding-bottom: 30px;
}

.foot-container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.social-links {
  display: flex;
  align-items: center;
}
.social-item {
  margin-left: 20px;
}

.foot-wrapper {
  width: 80%;
  margin: 10px auto;
  display: flex;
  padding-top: 20px;
}
.footer-nav {
  flex: 1;
}
.footer-links {
  display: flex;
}
.footer-links li {
  margin-right: 20px;
}
.footer-links a {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: lighter;
}
.copyright-text {
  color: var(--DarkGray);
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1024px) {
  h2 {
    font-size: 32px;
  }
  .hero-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-text h1 {
    font-size: 43px;
    padding: 10px 30px;
  }

  .inter-wrap {
    margin: 10%;
  }
  .interactive-text {
    padding: 40px;
    margin: 180px 0 0px -150px;
  }
  .interactive-text P {
    font-size: 13px;
  }
}
@media screen and (max-width: 425px) {
  .burger {
    display: block;
  }

  .nav-links {
    text-align: left;
    position: absolute;
    height: 100vh;
    top: 0;
    left: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 125%;
    margin: auto;
    background-color: black;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: -1;
  }
  .nav-items {
    margin: 20px;
    font-size: 20px;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-active {
    transform: translateX(0%);
  }

  .hero {
    background-image: url("images/mobile/image-hero.jpg");
  }

  .hero-text {
    width: 80%;
    /* z-index: 1; */
  }
  .hero-text h1 {
    font-size: 38px;
  }

  .inter-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    margin-top: 70px;
    text-align: center;
  }
  .cover {
    height: 45vh;
  }
  .cover img {
    height: 100%;
  }
  .interactive-text {
    margin: auto;
  }
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .interactive-text p {
    font-size: 14px;
    padding: 10px;
  }

  .creative-title {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .creative-title button {
    margin-top: 10px;
  }
  .desktop-image {
    display: none;
  }

  .mobile-image {
    display: inline-block;
  }

  .creative-cards {
    flex-direction: column;
  }
  .card {
    height: 150px;
    width: 80vw;
    margin: 10px 0;
  }

  .foot-container {
    flex-direction: column;
  }
  .footer-links {
    flex-direction: column;
    margin: auto;
  }

  .social-links,
  .copyright-text {
    margin: 30px 0;
  }
  .social-item {
    display: flex;

    margin-right: 10px;
    /* justify-content: space-around; */
  }
  .foot-wrapper {
    flex-direction: column;
    margin: auto;
  }
  .footer-links li {
    text-align: center;
    margin-right: 0px;
  }
  .copyright-text {
    margin: 10px auto;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
